
<div class="container-fluid back">
  
        <div class="row back">
        	<div class="col-md-1">
        	</div>
        	<div class="col-md-8">

        	<p style="font-size: 80px; color: white; font-family: Bradley Hand ITC ;">RESUME</p>
        	<hr>
        	<div class="row back">
        			<div class="col-md-4">
        				<a href="resume" class="btn btn-default btn-circle pink-back  " style="color: white;">
            	<br><br><p>Professional info</p><br><br></a>
        			</div>
        			<div class="col-md-8">
        				<p>Write details</p>
        			</div>
        		</div>
        	<hr>
        	<div class="row back">
        			<div class="col-md-4">
        				<a href="resume" class="btn btn-default btn-circle pink-back  " style="color: white;">
            	<br><br><p>Work Experience</p><br><br></a>
        			</div>
        			<div class="col-md-8">
        				<p>Write details</p>
        			</div>
        		</div>
        	<hr>
        	<div class="row back">
        			<div class="col-md-4">
        				<a href="resume" class="btn btn-default btn-circle pink-back  " style="color: white;">
            	<br><br><p>Educational info</p><br><br></a>
        			</div>
        			<div class="col-md-8">
        				<p>Write details</p>
        			</div>
        		</div>


        	</div>
            <div class="col-md-2">
            <br><br><br><br>
            <p style="font-size: 30px; color: white; font-family: Bradley Hand ITC ;">Skills</p>
            <hr>
            <p>PHOTOSHOP<p>

			<p>FLASH</p>

			<p>add a skill</p>

			<p>add a skill</p>

			<p>add a skill</p>

            <p style="font-size: 30px; color: white; font-family: Bradley Hand ITC ;">Languages</p>
            <hr>
            <p>C/C++</p>

			<p>JAVA</p>

			<p>add a Language</p>

            <p>add a Language</p>
            

            
            
            </div>
            <div class="col-md-1 back">
        	</div>
         </div>
         <br><br><br>
</div>